{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Lista de produtos{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    <a href="{{ url_for("form_prod")}}">Cadastrar novo produto</a>
</p>
<table border="1">
    <tr>
        <th>Código de barra</th>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Tipo do produto</th>
    </tr>
    {% for p in produtos %}
    <tr>
        <td>{{p.cod_barra}}</td>
        <td>{{p.nome_prod}}</td>
        <td>{{p.preco_prod}}</td>
        <td>{{p.qtd}}</td>
        <td>{{p.tipo_prod}}</td>
    </tr>
    {% endfor %}

{% endblock %}